<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-3 (click)="goToProfile('back')">
        <ion-icon name="people"></ion-icon>
        <ng-container *ngIf="getNotifications(1).length > 0">
          <ion-badge color="danger">{{getNotifications(1).length}}</ion-badge>
        </ng-container>
      </ion-col>
      <ion-col col-3 (click)="goToQuestions('back')">
        <ion-icon name="play"></ion-icon>
        <ng-container *ngIf="getNotifications(2).length > 0">
          <ion-badge color="danger">{{getNotifications(2).length}}</ion-badge>
        </ng-container>
      </ion-col>
      <ion-col col-3 (click)="goToSearch('back')">
        <ion-icon name="search"></ion-icon>
        <ng-container *ngIf="getNotifications(3).length > 0">
          <ion-badge color="danger">{{getNotifications(3).length}}</ion-badge>
        </ng-container>
      </ion-col>
      <ion-col col-3 class="active">
        <ion-icon name="settings"></ion-icon>
        <ng-container *ngIf="getNotifications(4).length > 0">
          <ion-badge color="danger">{{getNotifications(1).length}}</ion-badge>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Mes centres d'intérêt</ion-list-header>
    <button ion-item (click)="pushToInterest()" >
      <ion-icon name="game-controller-a" item-start></ion-icon>{{ nbCategories }} centres d'intérêt
    </button>
  </ion-list>
</ion-content>
