<ion-content [class]="showCategory ? ' fadeIn' : 'hidden'">
  <div class="pre-game h-full align-center-center">
    <div class="domain">
      <div class="title">
        Categorie
      </div>
      <div class="domain-block">
        <img src="{{currentQuestion.category.image}}"/>
        <div class="text">{{currentQuestion.category.title}}</div>
      </div>
    </div>
  </div>
</ion-content>
<ion-content padding>
  <div class="timer">
    <div class="time" [style.height]="taux + '%'"></div>
    <div class="info">
      <div *ngIf="taux < 100">{{ remaining }}</div>
      <div *ngIf="taux >= 100"><ion-icon name="close-circle"></ion-icon></div>
    </div>
  </div>
  <div class="question">{{currentQuestion.title}}</div>
  <div class="answers">
    <ng-container *ngIf="currentQuestion.type.name == 'QS'">
      <ion-row style="height: 84%" class="align-center-center">
        <ion-col col-12 style="height: 25%;" *ngFor="let answer of currentQuestion.answers; let i = index">
          <div class="answer">
            <div class="padding-block" (click)="setGood(answer.id)">
              <div [class]="'block ' + getClass(answer.id)">{{answer.text}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="qs-actions qs">
        <div style="text-align:center;width:100%">
         <button ion-button icon-start (click)="validQS()" [hidden]="replied">Valider</button>
         <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
           Bien joué
         </div>
         <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
           Dommage !
         </div>
       </div>
     </ion-row>
    </ng-container>
    <ng-container *ngIf="currentQuestion.type.name == 'QCM'">
      <ion-row style="height: 84%" class="align-center-center">
        <ion-col col-12 style="height: 25%;" *ngFor="let answer of currentQuestion.answers; let i = index">
          <div class="answer">
            <div class="padding-block" (click)="setQCMGood(answer.id)">
              <div [class]="'block ' + getQCMClass(answer.id)">{{answer.text}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="qs-actions qcm">
        <div style="text-align:center;width:100%">
         <button ion-button icon-start (click)="validQCM()" [hidden]="replied">Valider</button>
         <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
           Bien joué
         </div>
         <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
           Dommage !
         </div>
       </div>
     </ion-row>
   </ng-container>
   <ng-container *ngIf="currentQuestion.type.name == 'INT'">
    <ion-row class="qs-row">
      <ion-col col-9 style="height: 100px;">
        <ion-input [readonly]="replied" type="number"
        [class]="replied ? 'align-center-center input-int ' + questionStatus : 'align-center-center input-int'" 
        [(ngModel)]="int_value"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="qs-response">
      <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
       La bonne réponse est : <br/>
       {{currentQuestion.goodAnswer}}
     </div>
     <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
       Bien joué
     </div>
   </ion-row>
   <ion-row class="qs-actions">
    <div style="text-align:center;width:100%">
     <button ion-button icon-start (click)="validINT()" [hidden]="replied">Valider</button>
   </div>
 </ion-row>
</ng-container>
<ng-container *ngIf="currentQuestion.type.name == 'TEXT'">
  <ion-row class="qs-row">
    <ion-col col-9 style="height: 100px;">
      <ion-input [readonly]="replied" type="text"
      [class]="replied ? 'align-center-center input-int ' + questionStatus : 'align-center-center input-text'" 
      [(ngModel)]="text_value"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row class="qs-response">
    <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
     La bonne réponse est : <br/>
     {{currentQuestion.goodAnswer}}
   </div>
   <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
     Bien joué
   </div>
 </ion-row>
 <ion-row class="qs-actions">
  <div style="text-align:center;width:100%">
   <button ion-button icon-start (click)="validTEXT()" [hidden]="replied">Valider</button>
 </div>
</ion-row>
</ng-container>
<ng-container *ngIf="currentQuestion.type.name == 'YMD'">
  <ion-row [class]="replied ? 'qs-row dateYMD ' + questionStatus : 'qs-row dateYMD'">
    <ion-col col-3 style="height: 100px;">
      <ion-slides #sliderDay pager="false" direction="vertical" loop="true" watchSlidesVisibility="true" slidesPerView="3" centeredSlides="true">
        <ng-container *ngFor="let day of days">
          <ion-slide [attr.data-value]="day.value">{{day.label}}</ion-slide>
        </ng-container>
      </ion-slides>
    </ion-col>
    <ion-col col-6 style="height: 100px;">
      <ion-slides #sliderMonth pager="false" direction="vertical" loop="true" watchSlidesVisibility="true" slidesPerView="3" centeredSlides="true">
        <ng-container *ngFor="let month of months">
          <ion-slide  [attr.data-value]="month.value">{{month.label}}</ion-slide>
        </ng-container>
      </ion-slides>
    </ion-col>
    <ion-col col-3 style="height: 100px;">
      <ion-slides #sliderYear pager="false" direction="vertical" loop="true" watchSlidesVisibility="true" slidesPerView="3" centeredSlides="true">
        <ion-slide *ngFor="let year of years">{{year.value}}</ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row class="qs-response">
    <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
     La bonne réponse est : <br/>
     {{toDateText(currentQuestion.goodAnswer)}}
   </div>
   <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
     Bien joué
   </div>
 </ion-row>
  <ion-row class="qs-actions">
    <div style="text-align:center;width:100%">
     <button ion-button icon-start (click)="validYMD(true)" [hidden]="replied">Valider</button>
   </div>
 </ion-row>
</ng-container>
<ng-container *ngIf="currentQuestion.type.name == 'YM'">
  <ion-row [class]="replied ? 'qs-row dateYM ' + questionStatus : 'qs-row dateYM'">
    <ion-col col-6 style="height: 100px;">
      <ion-slides #sliderMonth pager="false" direction="vertical" loop="true" watchSlidesVisibility="true" slidesPerView="3" centeredSlides="true">

        <ng-container *ngFor="let month of months">
          <ion-slide [attr.data-value]="month.value">{{month.label}}</ion-slide>
        </ng-container>
      </ion-slides>
    </ion-col>
    <ion-col col-6 style="height: 100px;">
      <ion-slides #sliderYear pager="false" direction="vertical" loop="true" watchSlidesVisibility="true" slidesPerView="3" centeredSlides="true">
        <ion-slide *ngFor="let year of years">{{year.value}}</ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row class="qs-response">
    <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
     La bonne réponse est : <br/>
     {{toDateText(currentQuestion.goodAnswer)}}
   </div>
   <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
     Bien joué
   </div>
 </ion-row>
  <ion-row class="qs-actions">
    <div style="text-align:center;width:100%">
     <button ion-button icon-start (click)="validYM(true)" [hidden]="replied">Valider</button>
   </div>
 </ion-row>
</ng-container>
<ng-container *ngIf="currentQuestion.type.name == 'Y'">
  <ion-row [class]="replied ? 'qs-row dateY ' + questionStatus : 'qs-row dateY'">
    <ion-col col-9 style="height: 100px;">
      <ion-slides #sliderYear pager="false" direction="vertical" loop="true" watchSlidesVisibility="true" slidesPerView="3" centeredSlides="true">
        <ion-slide *ngFor="let year of years">{{year.value}}</ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row class="qs-response">
    <div style="text-align:center;width:100%" *ngIf="questionStatus == 'bad'">
     La bonne réponse est : <br/>
     {{toDateText(currentQuestion.goodAnswer)}}
   </div>
   <div style="text-align:center;width:100%" *ngIf="questionStatus == 'good'">
     Bien joué
   </div>
 </ion-row>
  <ion-row class="qs-actions">
    <div style="text-align:center;width:100%">
     <button ion-button icon-start (click)="validY(true)" [hidden]="replied">Valider</button>
   </div>
 </ion-row>
</ng-container>
</div>
<div class="suivi">
  <div class="person" [style.top]="sanitizer.bypassSecurityTrustStyle('calc( ( 100% - 50px - 20px ) * ' + (currentQuestionId / (questions?.length - 1)) +')')">
    <img src="https://www.popme.app/media/cache/resolve/user/uploads/images/user/4435e3b26ae1da2d545ceb09f353ea10"/>
    <div class="info">{{currentQuestionId + 1}}/{{questions?.length}}</div>
  </div>
</div>
<div class="actions">
  <div class="quit" (click)="quit()">Quitter</div>
  <div class="domain">
    <div class="domain-block">
      <img src="{{currentQuestion.category.image}}"/>
      <div class="text">{{currentQuestion.category.title}}</div>
    </div>
  </div>
  <div class="pass" [hidden]="!showResponses" (click)="nextQuestion()">Suivant</div>
</div>
</ion-content>
